button{
    width: 250px;
    height: 80px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    border: 1px solid #ffffff;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
}


.BotonClick {
    background-color: #0000a1;
}

.BotonClick:hover {
    background-color: #494998;
}

.BotonReiniciar{
    background-color: rgb(160, 31, 31);
}

.BotonReiniciar:hover{
    background-color: rgb(154, 82, 82);
}