*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  background-color: #d68c5b;
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: 'Montserrat', sans-serif;
}

.contenedor-principal{
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 645px) {
  .contenedor-principal{
      width: 90%;
}

} 